@{
    ViewBag.Title = "About Us";
    ViewBag.SecondaryNav = true;
}

        <section class="common-banner about-banner d-none d-md-block"></section>

        <!-- Few Words Section -->
        <section class="common-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2 class="common-star-header">A Few words about us</h2>
                        <p class="common-star-header-content text-center">
                            We are providers of professional home cleaning services, offering hourly based house
                            cleaning options,
                            which mean that you don’t have to fret about getting your house cleaned anymore. We will
                            handle
                            everything for you, so that you can focus on spending your precious time with your family
                            members.
                        </p>

                        <p class="common-star-header-content text-center">
                            We have a number of experienced cleaners to help you make cleaning out or shifting your home
                            an easy affair.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our Story Section -->
        <section class="common-wrapper about-2-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2 class="common-star-header">Our Story</h2>
                        <p class="common-star-header-content text-center">
                            A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises
                            for payment. Cleaners may specialise in cleaning particular things or places, such as window
                            cleaners. Cleaners often work when the people who otherwise occupy the space are not around.
                            They may clean offices at night or houses during the workday.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- News Letter Section -->
        <section class="news-letter bg-white">
            <div class="container text-center">
                <h2>GET OUR NEWSLETTER</h2>
                <div class="form-row d-flex justify-content-center align-items-center">
                    <div class="form-group">
                        <label for="email" style="display: none;">YOUR EMAIL</label>
                        <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
                    </div>
                    <div class="btn-wrapper">
                        <button class="red-btn">Submit</button>
                    </div>
                </div>
            </div>
        </section>