@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    ViewBag.SecondaryNav = true;
    string userEmail = ViewBag.Email;
}

<div class="forgotpass-wrapper text-center text-sm-left">
    <form asp-action="changePassword" method="post">
        <input type="hidden" asp-for="Email" value="@userEmail"/>
        <div class="form-group">
            <label asp-for="Password" class="col-form-label"></label>
            <input class="form-control col-sm-6 col-lg-4" placeholder="Password" asp-for="Password">
            <span asp-validation-for="Password" class="validation-text"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="col-form-label"></label>
            <input class="form-control col-sm-6 col-lg-4" placeholder="Confirm Password" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="validation-text"></span>
        </div>
        <button type="submit" class="btn form-submit-btn">Save</button>
    </form>
</div>