@model ContactViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Contact Us";
    ViewBag.SecondaryNav = true;
    var loggedinuser = HttpContextAccessor.HttpContext.Session.Get<User>("User");
    if (loggedinuser == null) loggedinuser = new User();
}

        <section class="common-banner contact-banner d-none d-md-block"></section>

        <!-- Contact Section -->
        <section class="common-wrapper">

            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2 class="common-star-header">Contact Us</h2>
                    </div>
                </div>
            </div>

            <!-- Contact Details -->
            <div class="container">
                <div class="row contact-info-wrapper">
                    <div class="col-md-4 text-center">
                        <div class="d-flex justify-content-center align-items-center contact-img-wrapper">
                            <img src="~/assets/location-icon.png" alt="Location">
                        </div>
                        <p>1111 Lorem ipsum text 100,</p>
                        <p>Lorem ipsum AB</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="d-flex justify-content-center align-items-center contact-img-wrapper">
                            <img src="~/assets/phone-call-icon.png" alt="Call">
                        </div>
                        <p><a href="tel:+49 (40) 123 56 7890" title="+49 (40) 123 56 7890">+49 (40) 123 56 7890</a></p>
                        <p><a href="tel:+49 (40) 987 56 0000" title="+49 (40) 987 56 0000">+49 (40) 987 56 0000</a></p>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="d-flex justify-content-center align-items-center contact-img-wrapper">
                            <img src="~/assets/message-icon.png" alt="Message">
                        </div>
                        <p><a href="mailto: info@helperland.com" title="info@helperland.com">info@helperland.com</a></p>
                    </div>
                </div>
            </div>

            <!-- Contact Us Form -->
            <div class="container container-top-outline">
                <h2 class="contact-form-header">Get in touch with us</h2>

                <div class="contact-form-container">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input asp-for="FirstName" class="form-control" placeholder="First name" value="@loggedinuser.FirstName">
                                <span asp-validation-for="FirstName" class="validation-text"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <input asp-for="LastName" class="form-control" placeholder="Last name" value="@loggedinuser.LastName">
                                <span asp-validation-for="LastName" class="validation-text"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="number-pref">+49</span>
                                    </div>
                                    <input asp-for="Mobile" class="form-control" placeholder="Mobile number" aria-describedby="number-pref"
                                        value="@loggedinuser.Mobile">
                                </div>
                                <span asp-validation-for="Mobile" class="validation-text"></span>
                            </div>

                            <div class="col-md-6 mb-3">
                                <input asp-for="Email" class="form-control" placeholder="Email" value="@loggedinuser.Email">
                                <span asp-validation-for="Email" class="validation-text"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col">
                                <select asp-for="Type" class="form-control">
                                    <option selected>General</option>
                                    <option>Inquiry</option>
                                    <option>Renewal</option>
                                    <option>Revocation</option>
                                </select>
                                <span asp-validation-for="Type" class="validation-text"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col">
                                <textarea asp-for="Message" class="form-control" maxlength="1000" rows="5"
                                    placeholder="Message"></textarea>
                                <span asp-validation-for="Message" class="validation-text"></span>
                            </div>
                        </div>

                        <div class="form-row file-upload-wrapper">
                            <h3 class="form-group col-12 header-16 mb-1">Attachment</h3>
                            <div class="form-group col-3">
                                <input asp-for="FilePath" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <div class="blue-form-check ml-2">
                                    <input type="checkbox" id="privacyCheck" class="form-check-input">
                                    <label class="form-check-label" for="privacyCheck">
                                        Our current ones apply <a href="" title="privacy policy"
                                            class="blue-link">privacy policy</a>. I hereby agree that my data entered
                                        into the contact form will be stored
                                        electronically and processed and used for the purpose of establishing contact.
                                        The consent can be withdrawn at any time
                                        pursuant to Art. 7 (3) GDPR by informal notification (eg by e-mail).
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row justify-content-center">
                            <button type="submit" class="form-submit-btn disabled-btn" id="submit-btn" disabled>Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </section>

        <!-- Google Map Section -->
        <section class="common-wrapper map-section">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2525.317816682433!2d7.132833!3d50.732594!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bee13f0afebfb1%3A0x7caeb94f4c1042fc!2sK%C3%B6nigswinterer%20Str.%20116%2C%2053227%20Bonn%2C%20Germany!5e0!3m2!1sen!2sus!4v1639648893776!5m2!1sen!2sus"
                width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>

        <!-- News Letter Section -->
        <section class="news-letter bg-white">
            <div class="container text-center">
                <h2>GET OUR NEWSLETTER</h2>
                <div class="form-row d-flex justify-content-center align-items-center">
                    <div class="form-group">
                        <label for="email" style="display: none;">YOUR EMAIL</label>
                        <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
                    </div>
                    <div class="btn-wrapper">
                        <button class="red-btn">Submit</button>
                    </div>
                </div>
            </div>
        </section>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#privacyCheck').click(function() {
                var checkbox = document.getElementById("privacyCheck");
                var submitBtn = document.getElementById("submit-btn");
                submitBtn.disabled = !(checkbox.checked);
            });
        });
    </script>
}