@{
    ViewBag.Title = "Prices";
    ViewBag.SecondaryNav = true;
}

<section class="common-banner prices-banner d-none d-md-block"></section>

        <!-- Prices and Services Section -->
        <section class="common-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2 class="common-star-header">Prices</h2>
                    </div>
                </div>
            </div>

            <div class="container d-flex justify-content-center">
                <div class="price-card-wrapper">
                    <h3 class="price-card-title">One Time</h3>
                    <p class="price-card-price-wrapper"><span class="price-card-price">&euro;<span>18</span></span>/hr
                    </p>
                    <ul class="price-points">
                        <li>Lower prices</li>
                        <li>Easy & secure payment</li>
                        <li>Easy amendment</li>
                    </ul>
                </div>
            </div>

            <div class="container container-top-outline extra-service-mt">
                <h2 class="common-star-header">Extra Services</h2>
                <div class="row justify-content-center">
                    <div class="col-md col-sm-4 col-xs-12 text-center">
                        <span class="image-container">
                            <span class="service-image-wrapper">
                                <img src="~/assets/extra_service_1.png" alt="Inside Cabinets">
                            </span>
                        </span>
                        <p class="service-title">Inside Cabinets</p>
                        <p class="service-time">30 Minutes</p>
                    </div>

                    <div class="col-md col-sm-4 col-xs-12 text-center">
                        <span class="image-container">
                            <span class="service-image-wrapper">
                                <img src="~/assets/extra_service_2.png" alt="Inside Cabinets">
                            </span>
                        </span>
                        <p class="service-title">Inside Fridge</p>
                        <p class="service-time">30 Minutes</p>
                    </div>

                    <div class="col-md col-sm-4 col-xs-12 text-center">
                        <span class="image-container">
                            <span class="service-image-wrapper">
                                <img src="~/assets/extra_service_3.png" alt="Inside Cabinets">
                            </span>
                        </span>
                        <p class="service-title">Inside Oven</p>
                        <p class="service-time">30 Minutes</p>
                    </div>

                    <div class="col-md col-sm-4 col-xs-12 text-center">
                        <span class="image-container">
                            <span class="service-image-wrapper">
                                <img src="~/assets/extra_service_4.png" alt="Inside Cabinets">
                            </span>
                        </span>
                        <p class="service-title">Laundary Wash & Dry</p>
                        <p class="service-time">30 Minutes</p>
                    </div>

                    <div class="col-md col-sm-4 col-xs-12 text-center">
                        <span class="image-container">
                            <span class="service-image-wrapper">
                                <img src="~/assets/extra_service_5.png" alt="Inside Cabinets">
                            </span>
                        </span>
                        <p class="service-title">Interior Windows</p>
                        <p class="service-time">30 Minutes</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Cleaning Content Section -->
        <section class="common-wrapper cleaning-section">
            <div class="container">
                <div class="row faq-content">
                    <div class="col-md-10 offset-md-1">
                        <h2 class="common-star-header">What we include in cleaning</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="cleaning-img-wrapper">
                            <img src="~/assets/cleaning_1.png" alt="Bedroom and Living room">
                        </div>
                        <h3 class="cleaning-header">Bedroom and Living Room</h3>
                        <ul class="cleaning-points">
                            <li>Dust all accessible surfaces</li>
                            <li>Wipe down all mirrors and glass fixtures</li>
                            <li>Clean all floor surfaces</li>
                            <li>Take out garbage and recycling</li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <div class="cleaning-img-wrapper">
                            <img src="~/assets/cleaning_2.png" alt="Bathrooms">
                        </div>
                        <h3 class="cleaning-header">Bathrooms</h3>
                        <ul class="cleaning-points">
                            <li>Wash and sanitize the toilet, shower, tub, sink</li>
                            <li>Dust all accessible surfaces</li>
                            <li>Wipe down all mirrors and glass fixtures</li>
                            <li>Clean all floor surfaces</li>
                            <li>Take out garbage and recycling</li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <div class="cleaning-img-wrapper">
                            <img src="~/assets/cleaning_3.png" alt="Kitchen">
                        </div>
                        <h3 class="cleaning-header">Kitchen</h3>
                        <ul class="cleaning-points">
                            <li>Dust all accessible surfaces</li>
                            <li>Empty sink and load up dishwasher</li>
                            <li>Wipe down exterior of stove, oven and fridge</li>
                            <li>Clean all floor surfaces</li>
                            <li>Take out garbage and recycling</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Why Helperland Section -->
        <section class="common-wrapper">
            <div class="container">
                <div class="row faq-content">
                    <div class="col-md-10 offset-md-1">
                        <h2 class="common-star-header">Why Helperland</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div
                        class="col-md-4 d-flex flex-column whyhelperland align-items-md-end align-items-center text-md-right text-center  order-md-1 order-2">
                        <h3>Experienced and vetted professionals</h3>
                        <p>dominate the industry in scale and scope with an adaptable, extensive network that
                            consistently delivers exceptional
                            results.</p>

                        <h3>Dedicated customer service</h3>
                        <p>to our customers and are guided in all we do by their needs. The team is always happy
                            to
                            support you and offer all the
                            information. you need.</p>
                    </div>
                    <div
                        class="col-md-4 d-flex whyhelperland align-items-center justify-content-center order-md-2 order-1">
                        <img src="~/assets/the-best.png" alt="The Best Services">
                    </div>
                    <div
                        class="col-md-4 d-flex flex-column whyhelperland align-items-md-start align-items-center text-md-left text-center  order-md-3 order-3">
                        <h3>Every cleaning is insured</h3>
                        <p>and seek to provide exceptional service and engage in proactive behavior. We‘d be happy
                            to
                            clean your homes.</p>

                        <h3>Secure online payment</h3>
                        <p>Payment is processed securely online. Customers pay safely online and manage the
                            booking.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- News Letter Section -->
        <section class="news-letter bg-white">
            <div class="container text-center">
                <a href="#" class="scroll-top"><img src="~/assets/aroow-up.png" alt="up-arrow"></a>
                <div class="">
                    <a href="#" class="talk-with-us"><img src="~/assets/talkk-with-us.png" alt="message-boat"></a>
                </div>
                <h2>GET OUR NEWSLETTER</h2>
                <div class="form-row d-flex justify-content-center align-items-center">
                    <div class="form-group">
                        <label for="email" style="display: none;">YOUR EMAIL</label>
                        <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
                    </div>
                    <div class="btn-wrapper">
                        <button class="red-btn">Submit</button>
                    </div>
                </div>
            </div>
        </section>